---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { Icon } from 'astro-icon/components';
import { blogCategoryRobots, getStaticPathsBlogCategory } from '~/utils/blog';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';
import Button from '~/components/ui/Button.astro';

import { getBlogPermalink, getHomePermalink } from '~/utils/permalinks';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogCategory({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths> & { category: Record<string, string> };

const { page, category } = Astro.props as Props;

const currentPage = page.currentPage ?? 1;

const metadata = {
  title: `التصنيف '${category.title}' ${currentPage > 1 ? ` — الصفحة ${currentPage}` : ''}`,
  robots: {
    index: blogCategoryRobots?.index,
    follow: blogCategoryRobots?.follow,
  },
};
---

<Layout metadata={metadata}>
  <section class="px-4 md:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline>{category.title}</Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    <div class="pt-8 md:pt-4 flex flex-wrap gap-4">
      <Button variant="tertiary" class="px-3 md:px-3" href={getBlogPermalink()}>
        <Icon name="tabler:chevron-left" class="w-5 h-5 me-1 rtl:rotate-180" /> الرجوع إلى المنشورات
      </Button>
      <Button variant="tertiary" class="px-3 md:px-3" href={getHomePermalink()}>
        <Icon name="tabler:home" class="w-5 h-5 me-1" /> الصفحة الرئيسية
      </Button>
    </div>
  </section>
</Layout>
